.logoHover{
	background: #4b0098;
	position: absolute;
	top: 0;
	padding: 9px 18px;
	font: normal 14px Arial;
	color: #fff;
	height: 17px;
	white-space: nowrap;;
	z-index: 111;
	left: -115px;

	-webkit-transition: left 0.5s linear 0.2s;
	-moz-transition: left 0.5s linear 0.2s ;
	-ms-transition: left 0.5s linear 0.2s ;
	-o-transition: left 0.5s linear 0.2s ;
	transition: left 0.5s linear 0.2s ;

}
.logo:hover > .logoHover{left: 35px;}

/*TOOL TIPS*/
.tooltip-center, .tooltip-left{
	height: 21px;
	background: #000;
	position: absolute;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: left;
	white-space: nowrap;
	padding: 4px 9px 0 9px;
	color: #FFF;
	display: none;
	font: bold 12px Arial;
	z-index: 900;
}
.tooltip-center:before, .tooltip-left:before{
	content: "";
	position: absolute;
	width: 20px;
	height: 12px;
	background: url(/images/sprite32x32.png) 28px -13px;
}
.tooltip-center:before{top: 25px;left: 32px;}
.tooltip-left:before{top: 25px;left: 7px;}

.tools-trackDel:hover + .tooltip-left{display: block;}
.tools-trackSolo:hover + .tooltip-center{display: block;}
.tools-trackMove:hover + .tooltip-left{display: block;}
.tools-trackMute:hover + .tooltip-center{display: block;}
