
*{
	margin: 0;
	padding: 0;
}

body, html{
	background: #efefef;
	height: 100%;
	color: #333;
backgr/* ound: #fff url(/images/DOC_Ideias2_03.jpg)549px 0px no-repeat;
position: re */lative;

}

header{
	background: #fff;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 45px;

	-webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.25);
}
.header{
	width: 671px;
	height: 45px;
	margin: 0 auto;
}
.logo{
	width: 190px;
	position: relative;
	top: 6px;
	float: left;
}
.toobar-global{
	float: right;
	position: relative;
	max-width: 450px;
}
.toolbar-ideas{
	cursor: pointer;
	color: #999;
	float: right;
	margin-top: 2px;
	margin-right: 10px;
}
.toolbar-ideas img{
	background: url(/images/sprite32x32.png) 1px 2px no-repeat;
	width: 35px;
	height: 35px;
	float: left;
}
.toolbar-ideas span{
	padding: 12px 0 0;
	float: left;
	font: bold 0.8em Arial;
	margin-right: 10px;
}

.toolbar-ideas:hover{color: #000;}
.toolbar-ideas:hover > img {background: url(/images/sprite32x32.png) 1px 2px no-repeat;}

.toolbar-user{
	float: left;
	margin-top: 7px;
	border-right: 1px solid;
	padding-right: 7px;
	height: 33px;
	margin-right: 5px;
	
}
.toolbar-user span{
	font: normal 0.8em Arial;
	padding: 8px 0 0;
	float: left;
	color: #666;
	max-width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user-img{
	margin-left: 10px;
	border-radius: 50%;
}

.profile-box{
	width: 100%;
	background: #fff;
	border-radius: 2px;
	position: relative;	

	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	margin-bottom:         7.5px;
	min-height:         220px;
}

.profile-texture{
	background: url(/images/bgperfil.gif) 0px 0px repeat;
	width: 100%;
	height: 107px;
	border-radius: 2px;
}

.profile-image{
	border: 9px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: 60px;
	left: 15px;

}

.profile-details{
	float: left;
	width: 365px;
	position: relative;
	left: 125px;
	top: 5px;

}
.profile-details h1{
	font: normal 24px Arial;
	color: #333;

}

.profile-details span{
	font: normal 13px Arial;
	color: #999;
	float: left;
	margin: 5px 0;
	overflow: hidden;

}

.profile-btn{
	float: right;
	position: relative;
	top: 25px;

}

.profile-edit, .profile-logout{
	background-color: #f1f1f1;
	width: 137px;
	padding: 6px 0;
	text-indent: 10px;
	color: #999;
	font: normal 13px Arial;
	cursor: pointer;
	margin: 9px 0;	
}

.newProject-box{
	width: 100%;
	height: 39px;
	background: #fff;
	border-radius: 2px;
	position: relative;
	margin: 7.5px 0;
	float: left;

	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
}

.newProject-box img{
	background: url(/images/sprite32x32.png) 0px -65px no-repeat;
	width: 30px;
	height: 30px;
	margin: 4px 5px 0 21%;
	float: left;
}

.newProject-box span{
	color: #666;
	font: bold 12px Arial;
	float: left;
	margin: 12px 0 0;
	
}

.defaultLeft-box, .defaultRight-box{
	background: #fff;
	border-radius: 2px;
	position: relative;
	margin: 7.5px 0;
	padding-bottom: 8px;
	width: 100%;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.25);
}
.defaultLeft-box{float: left;} .defaultRight-box{float: right;}

.boxContent{padding: 0 8px;}

.tittle-box{
	font: bold 14px Arial;
	padding: 10px 15px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}
.project-details{
	border-radius: 2px;
	width: 286px;
	height: 88px;
	margin: 8px;
	float: left;
	position: relative;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.25);
}
.project-details img{
	border-radius: 2px 0 0 2px;

}
.project-play{
	background: url(/images/sprite32x32.png) 0px -33px no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 8px;
	left: 53px;
	cursor: pointer;
}
.show-more{
	float: left;
	color: #999;
	font: normal 11px Arial;
	margin: 0 16px;
}
.project-tittle{
	float: left;
	font: bold 13px Arial;
	width: 57%;
	margin: 20px 16px 14px;
}

.add-idea, .guitar-idea, .vocal-idea, .drumm-idea{
	width: 82px;
	border: 1px solid #ccc;
	height: 82px;
	border-radius: 6px;
	position: relative;
	margin: 8px 8px;
	float: left;
}
.add-idea img{
	background: url(/images/sprite32x32.png) -65px -33px no-repeat;
	width: 30px;
	height: 30px;
	margin: 19px 26px -4px;
}
.add-idea span{
	color: #ccc;
	font: normal 11px Arial;
	margin: 0 18px;
}
.guitar-idea img, .vocal-idea img, .drumm-idea img{
	width: 70px;
	height: 70px;
	margin: 6px;
}
.guitar-idea img{background: url(/images/sprite70x70.png) 0px 0px no-repeat;}
.vocal-idea img{background: url(/images/sprite70x70.png) 0px -70px no-repeat;}
.drumm-idea img{background: url(/images/sprite70x70.png) 0px -140px no-repeat;}

.guitar-idea span, .vocal-idea span, .drumm-idea span{
	color: #999;
	font: normal 12px Arial;
	position: absolute;
	left: 8px;
	top: 8px;

}