.content{
	overflow: hidden;
	margin: 0 auto;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	padding: 60px 15px;
	width: 652px;
	min-height: 87%;
	/*opacity: .5;*/
}


/*TOOL TIPS*/
.tooltip-center, .tooltip-left{
	height: 21px;
	background: #000;
	position: absolute;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: left;
	white-space: nowrap;
	padding: 4px 9px 0 9px;
	color: #FFF;
	display: none;
	font: bold 12px Arial;
	z-index: 900;
}
.tooltip-center:before, .tooltip-left:before{
	content: "";
	position: absolute;
	width: 20px;
	height: 12px;
	background: url(/images/sprite32x32.png) 28px -13px;
}
.tooltip-center:before{top: 25px;left: 32px;}
.tooltip-left:before{top: 25px;left: 7px;}

.tools-trackDel:hover + .tooltip-left{display: block;}
.tools-trackSolo:hover + .tooltip-center{display: block;}
.tools-trackMove:hover + .tooltip-left{display: block;}
.tools-trackMute:hover + .tooltip-center{display: block;}


.leftColumn, .rightColumn{width: 318px;}
.leftColumn{float: left;} .rightColumn{float: right;}

.profile-invite{
	right: 0px;
	bottom: 8px;
	background: #fff;
	display: none;
}
.profile_inviteAlert{
	background-color: #f25252;
	width: 137px;
	padding: 6px 0;
	text-indent: 10px;
	color: #fff;
	font: normal 13px Arial;
	cursor: pointer;
}
.profile-invite span{
	font: normal 11px Arial;
	color: #999;
	float: left;
	width: 132px;
	margin: 5px 0;
	padding-left: 5px;
}
.profile-details span{max-height: 35px;}