<div id='main-nav-bg'></div>
<nav id='main-nav' ng-include="mainnav">
</nav>
<section id='content'>
  <div class='container'>
    <div class='row' id='content-wrapper'>
      <div class='col-xs-12'>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='page-header'>
              <h1 class='pull-left'>
                <i class='icon-film'></i>
                <span>Vídeo-Aulas</span>
              </h1>
              <div class='pull-right'>
                <ul class='breadcrumb'>
                  <li>
                    <a href='index.html'>
                      <i class='icon-bar-chart'></i>
                    </a>
                  </li>
                  <li class='separator'>
                    <i class='icon-angle-right'></i>
                  </li>
                  <li>Dashboard</li>
                  <li class='separator'>
                    <i class='icon-angle-right'></i>
                  </li>
                  <li class='active'>Vídeo-Aulas</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='row timeline'>
          <div class='col-sm-12'>
            <ol class='list-unstyled'>
              <li>
                <div class='icon purple-background'>
                  <i class=' icon-eye-open'></i>
                </div>
                <div class='title'>
                  Sobre a Desventu
                  <small class='text-muted'>1 minute ago</small>
                </div>
                <div class='content'>
                  Entenda sobre o projeto DESVENTU, metódos aplicados e objetivo.
                  <br><br>
                  <i class='icon-facetime-video'></i> 1 Desventu Projeto, Metódo e Objetivo.
                </div>
              </li>
              <li>
                <div class='icon green-background'>
                  <i class='icon-picture'></i>
                </div>
                <div class='title'>
                  <a class="text-muted" href="#">Ambiente de Trabalho</a>
                  <small class='text-muted'>10 minutes ago</small>
                </div>
                <div class='content'>
                  Vamos preparar nosso ambiente de trabalho para iniciar nosso projeto.
                  <br><br>
                    <i class='icon-caret-right'></i><i>Controle de versão GiT e GitHub</i> 
                    <table>
                      <tr>
                        <td><i class='icon-facetime-video'></i> 2 Instalando e configurando GIT no windows</td>
                      </tr>
                      <tr>
                        <td><i class='icon-facetime-video'></i> 2.1 Sincronizando SSH com Github</td>
                      </tr>
                      <tr>
                        <td><i class='icon-facetime-video'></i> 2.2 Criar e adicionar repositório do Github</td>
                      </tr>
                      <tr>
                        <td><i class='icon-facetime-video'></i> 2.3 Enviando e recebendo seu código do repositório github</td>
                      </tr>
                      <tr>
                        <td>
                        <table>
                          <tr>
                            <td>
                              <i class="icon-facetime-video"></i> 2.4 Comando Git branch <i class="icon-signin"></i> <span ng-if="!solicitado['2400']"><b>R$ 25,00 (Disponível por 3 meses)</b></span></td>
                              <td ng-if="!solicitado['2400']">
                                <form method="post" target="pagseguro"  
action="https://pagseguro.uol.com.br/v2/checkout/payment.html">  
                                                              <!-- Campos obrigatórios -->  
                                      <input name="receiverEmail" type="hidden" value="andrework@gmail.com">  
                                      <input name="currency" type="hidden" value="BRL">
                                      <input type="hidden" name="encoding" value="UTF-8">
                                
                                      <!-- Itens do pagamento (ao menos um item é obrigatório) -->  
                                      <input name="itemId1" type="hidden" value="2400">  
                                      <input name="itemDescription1" type="hidden" value="Aluguel Vídeo-aula - 2.4 Comando Git branch - Disponível por 3 meses">  
                                      <input name="itemAmount1" type="hidden" value="25.00">  
                                      <input name="itemQuantity1" type="hidden" value="1">  
                                      <input name="itemWeight1" type="hidden" value="0">  
                                      
                                      <!-- Código de referência do pagamento no seu sistema (opcional) -->  
                                      <input name="reference" type="hidden" value="{{user._id}}"> 
                                      <input alt="Pague com PagSeguro" name="submit"  type="image"  
                              src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/160x20-pagar.gif"/>  
                                        
                              </form>  
                                <!--<form target="pagseguro" action="https://pagseguro.uol.com.br/security/webpagamentos/webpagto.aspx" method="post" onsubmit="">
                                  <input type="hidden" name="reference" value="{{user._id}}">
                                  <input type="hidden" name="item_valor_1" value="2500">
                                  <input type="hidden" name="email_cobranca" value="andrework@gmail.com">
                                  <input type="hidden" name="tipo" value="CP">
                                  <input type="hidden" name="moeda" value="BRL">
                                  <input type="hidden" name="encoding" value="UTF-8">
                                  <input type="hidden" name="item_id_1" value="2400">
                                  <input type="hidden" name="item_descr_1" value="Aluguel Vídeo-aula - 2.4 Comando Git branch - 3 meses de validade">
                                  <input type="hidden" name="item_quant_1" value="1">
                                  <input type="hidden" name="item_frete_1" value="000">
                                  <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/160x20-pagar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                                </form>-->
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table>
                          <tr>
                            <td>
                              <i class="icon-facetime-video"></i> 2.5 Outros comandos do Git <i class="icon-signin"></i> <span ng-if="!solicitado['2500']"><b>R$ 25,00 (Disponível por 3 meses)</b></span></td>
                              <td ng-if="!solicitado['2500']">
                                <form method="post" target="pagseguro"  
action="https://pagseguro.uol.com.br/v2/checkout/payment.html">  
                                                              <!-- Campos obrigatórios -->  
                                      <input name="receiverEmail" type="hidden" value="andrework@gmail.com">  
                                      <input name="currency" type="hidden" value="BRL">
                                      <input type="hidden" name="encoding" value="UTF-8">
                                
                                      <!-- Itens do pagamento (ao menos um item é obrigatório) -->  
                                      <input name="itemId1" type="hidden" value="2500">  
                                      <input name="itemDescription1" type="hidden" value="Aluguel Vídeo-aula - 2.5 Outros comandos do Git - Disponível por 3 meses">  
                                      <input name="itemAmount1" type="hidden" value="25.00">  
                                      <input name="itemQuantity1" type="hidden" value="1">  
                                      <input name="itemWeight1" type="hidden" value="0">  
                                      
                                      <!-- Código de referência do pagamento no seu sistema (opcional) -->  
                                      <input name="reference" type="hidden" value="{{user._id}}">
                                      <input name="senderEmail" type="hidden" value="{{user.email}}">  
                                      <input alt="Pague com PagSeguro" name="submit"  type="image"  
                              src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/160x20-pagar.gif"/>        
                              </form> 
                                
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td><hr></td>
                      </tr>
                      <tr><td><i class='icon-facetime-video'></i> 3 Nodemon</td></tr>
                      <tr><td><i class='icon-facetime-video'></i> 4 Editores de Códigos</td></tr>
                      <tr><td><i class='icon-facetime-video'></i> 5 Ferramenta de Gerenciamento MongoDB</td></tr></table>
                    
                </div>
              </li>
              <li>
                <div class='icon red-background'>
                  <i class='icon-desktop'></i>
                </div>
                <div class='title'>
                  <a class="text-muted" href="#">Bootstrap</a>
                  <small class='text-muted'>10 minutes ago</small>
                </div>
                <div class='content'>
                  Vamos apreender e criar layouts responsivos no bootstarp.
                  <br><br>
                    <i class='icon-facetime-video'></i><i> Iniciando o bootstrap</i> <br>
                    <i class='icon-facetime-video'></i> Componentes do bootstrap<br>
                    <i class='icon-facetime-video'></i> JavaScript do bootstrap<br>
                    <i class='icon-facetime-video'></i> Geradores de Templates em bootstrap <i class="icon-signin"></i> <b>Apenas para Assinantes</b><br>
                    <i class='icon-facetime-video'></i> Aplicando bootstrap no nosso layout <i class="icon-signin"></i> <b>Apenas para Assinantes</b><br>      
                </div>
              </li>
              <li>
                <div class='icon blue-background'>
                  <i class='icon-code'></i>
                </div>
                <div class='title'>
                  <a class="text-muted" href="#">Linguagem e Banco de Dados</a>
                  <small class='text-muted'>10 minutes ago</small>
                </div>
                <div class='content'>
                  Aqui iremos conhecer e trabalhar com nodejs e mongodb.
                  <br><br>
                    <i class='icon-caret-right'></i><i> Nodejs</i> <br>
                    <i class='icon-facetime-video'></i> MongoDB<br>     
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <footer id='footer' ng-include="urlfooter"></footer>
  </div>
</section>
