<div id='main-nav-bg'></div>
<nav id='main-nav' ng-include="mainnav">
</nav>
<section id='content'>
  <div class='container'>
    <div class='row' id='content-wrapper'>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class='page-header page-header-with-buttons'>
          <h1 class='pull-left'>
            <i class='icon-laptop'></i>
            <span>Programação Otimizada</span>
          </h1>
          
        </div> 
        
        <div class='row'>
          <div class='col-sm-12'>
            <p class='lead'> Através de pesquisas e implementações em novas tecnologias para web. Oferemos a melhor maneira de aprender na prática com vídeo-aulas intuitivas e diretas. </p>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="box">
              <div class="box-content">
                <h4>
                  <a class="text-contrast" href="">Objetivo</a>
                </h4>
                <p>
                  Ensinar desenvolver aplicações web a partir do nível básico ao avançado de forma otimizada em alto nível.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="box">
              <div class="box-content">
                <h4>
                  <a class="text-contrast" href="">Vamos fazer uma rede social?</a>
                </h4>
                <p>
                  Com webinars ao vivo, vamos contruir juntos uma rede social com os melhores recursos de aplicações web disponíveis no mercado.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-content">
                
                <h4>
                  <a class="text-contrast" href="https://www.youtube.com/user/desventu" target="_blank">Canal no Youtube</a>
                </h4>
                <p>
                  Se inscreva e acompanhe vídeo-aulas exclusivas totalmente gratuitas.
                </p>
                <p>
                <a href="https://www.youtube.com/user/desventu" target="_blank">
                <img class="img-responsive" src="/images/layout-youtube.jpg" />
                </a>
                </p>
                
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
            <div class="row">
                <div class='page-header page-header-with-buttons'>
                  <h1 class='pull-left'>
                    <i class='icon-male'></i>
                    <span>Fundador e Tutor</span>
                  </h1>
                  
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                 
                      <p>André Augusto é especialista nas linguagens de programação PHP e Nodejs, com mais de 8 anos de experiência como profissional, cursou Ciência da Computação e Gestão de Sistemas da Informação. Trabalhou em diversas empresas como Inter.net, Jovem Pan entre outras.</p>

                      <p>Contato:<br>
                      <i class='icon-envelope-alt'></i> andrework@gmail.com
                      </p>
                     
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">

                <div class="box">
                  <div class="box-content">
                    <img class="img-responsive" src="http://placehold.it/230x230&amp;text=Photo">
                  </div>
                </div> 
                </div>                   
            </div>
            <div class="row">

            <div class="box">
              <div class="box-content">
                <h4>
                  <a class="text-contrast" href="search_results.html#">Compartilhe</a>
                </h4>
                <p>
                 <!-- AddThis Button BEGIN -->
                  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                  <a class="addthis_button_preferred_1"></a>
                  <a class="addthis_button_preferred_2"></a>
                  <a class="addthis_button_preferred_3"></a>
                  <a class="addthis_button_preferred_4"></a>
                  <a class="addthis_button_compact"></a>
                  <a class="addthis_counter addthis_bubble_style"></a>
                  </div>
                  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e52f6f6049cc952"></script>
                  <!-- AddThis Button END -->
                </p>
              </div>
            </div> 

            </div>
          </div>
        </div>
    </div>
    <footer id='footer' ng-include="urlfooter"></footer>
  </div>
</section>
