    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="http://bootswatch.com/" class="navbar-brand">PayNowLess</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="http://bootswatch.com/slate/#" id="download">Login <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://bootswatch.com/slate/bootstrap.min.css">Com Facebook</a></li>
                <li><a href="http://bootswatch.com/slate/bootstrap.css">Com Google</a></li>
                <li class="divider"></li>
                <li><a href="http://bootswatch.com/slate/variables.less">Sair</a></li>
                </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12">
            
            <form class="" ng-submit="listar(ipt_busca)">
                <div class="form-group">
                <label class="control-label"></label>
                  <div class="input-group">
                    <span class="input-group-addon">></span>
                    <input type="text" class="form-control" ng-model="ipt_busca" placeholder="Digite aqui o produto especifico">

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="">Buscar</button>
                    </span>
                    
                  </div>
                  <span class="help-block">Exemplo: Smartphone moto g dual chip 16gb</span>
                </div>
            </form>


          </div>
        </div>
        <div class="col-lg-12" ng-init="listar()">
          <p class="center" ng-show="loading_img"><img src="/images/ajax-loader.gif" /></p>
          <table class="table table-striped table-hover" ng-show="loading_table">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Loja</th>
                    <th>Preço R$</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="produto in produtos"> 
                    <td ><a href="{{produto.link}}" target="{{target}}" ng-click="liststores($index)" ng-bind-html="produto.titulo">{{produto.titulo}}</a></td>
                    <td>
                      <table class="table">
                        <tr>
                          <td>
                            <a href="{{produto.link}}" target="{{target}}" ng-click="liststores($index)" >{{produto.loja}}</a> &nbsp&nbsp<img src="/images/ajax-loader.gif" ng-show="loading_img_td[$index]"  />
                          </td>
                        </tr>
                        <tr ng-repeat="store in stores[$index]">
                          <td>
                            <a href="{{store.link}}" target="_blank">{{store.loja}}</a>
                          </td>
                        </tr>
                      </table>
                        
                    </td>
                    <td>
                      <table class="table">
                        <tr>
                          <td>
                            <a href="{{produto.link}}" target="{{target}}" ng-click="liststores($index)">{{produto.price | formatPriceCol}}</a>
                          </td>
                        </tr>
                        <tr ng-repeat="store in stores[$index]">
                          <td>
                            <a href="{{store.link}}" target="_blank">{{store.price | formatPriceCol}}</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>

      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="http://bootswatch.com/slate/#top">Back to top</a></li>
              <li><a href="http://news.bootswatch.com/" onclick="pageTracker._link(this.href); return false;">Sobre</a></li>
              <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=F22JEM3Q78JC2">Donate</a></li>
            </ul>
            
            <p>Based on <a href="http://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

          </div>
        </div>
      </footer>
    </div>