<div id='main-nav-bg'></div>
<nav id='main-nav' ng-include="mainnav">
</nav>
<section id='content'>
  <div class='container'>
    <div class='row' id='content-wrapper'>
     
      
          <div class="col-xs-12 col-sm-6 col-md-8">
             <div class='page-header page-header-with-buttons'>
          <h1 class='pull-left'>
            <i class='icon-laptop'></i>
            <span>Programação Otimizada</span>
          </h1>
          
        </div> 
        
        <div class='row'>
          <div class='col-sm-12'>
            <p class='lead'> Através de pesquisas e implementações em novas tecnologias para web. Oferemos a melhor maneira de aprender na prática com vídeo-aulas intuitivas e diretas. </p>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-content">
                <h4>
                  <a class="text-contrast" href="search_results.html#">Objetivo</a>
                </h4>
                <p>
                  Ensinar desenvolver aplicações web de forma otimizada em alto nível
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="box">
              <div class="box-content">
                <h4>
                  <a class="text-contrast" href="search_results.html#">Canal no Youtube</a>
                </h4>
                <p>
                  Veja abaixo alguns vídeos e se inscreva no canal do youtube para acompanhar algumas vídeo-aulas totamente gratuitas.
                </p>
              </div>
            </div>
          </div>
        </div>

        

          </div>
          <div class="col-xs-6 col-sm-6 col-md-4">
            <div class="row">
                <div class='page-header page-header-with-buttons'>
                  <h1 class='pull-left'>
                    <i class='icon-male'></i>
                    <span>Fundador e Tutor</span>
                  </h1>
                  
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                 
                      <p>André Augusto é especialista nas linguagens de programação PHP e Nodejs, com mais de 8 anos de experiência como profissional, cursou Ciência da Computação e Gestão de Sistemas da Informação. Trabalhou em diversas empresas como Inter.net, Jovem Pan entre outras.</p>

                      <p>Contato:<br>
                      <i class='icon-envelope-alt'></i> andrework@gmail.com
                      </p>
                     
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">

                <div class="box">
                  <div class="box-content">
                    <img class="img-responsive" src="http://placehold.it/230x230&amp;text=Photo">
                  </div>
                </div> 
                </div>                   
            </div>
          </div>
        </div>
      <div class='col-xs-12'>
        


        <div class="row">
          <div class="col-sm-4">
            <iframe allowfullscreen="" src="http://www.youtube.com/embed/VyG1rk1XgT4" style="width:100%;height:315px;frameborder:0;"></iframe>
          </div>
          <div class="col-sm-4">
            <iframe allowfullscreen="" src="http://www.youtube.com/embed/VyG1rk1XgT4" style="width:100%;height:315px;frameborder:0;"></iframe>
          </div>
          <div class="col-sm-4">
            <iframe allowfullscreen="" src="http://www.youtube.com/embed/VyG1rk1XgT4" style="width:100%;height:315px;frameborder:0;"></iframe>
          </div>
        </div>
        
      </div>
    </div>
    <footer id='footer' ng-include="urlfooter"></footer>
  </div>
</section>
