<div class="container">
    <div class="span9">
    	<h2>Projetos</h2>

    	<button ng-click="includeNewProjeto()" class="btn btn-primary">Novo Projeto</button>
    

        <div ng-include="ngNewProjeto"></div>
    </div>

    <div class="span9">
    <br><br>
        Busca <input type="search" ng-model="busca">
    </div>

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Quem Curtiu?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="projeto in projetos | filter:busca">
                <td>{{projeto.nome}}</td>
                <td>{{projeto.descricao}}</td>
                <td>
                    <ul>
                        <li ng-repeat="user in projeto.curtiu">
                            {{user.firstname}}
                        </li>
                    </ul>
                </td>
                <td>

                    <a href="#/projeto/{{$index + 1}}" class="btn btn-success btn-xs">Musicas</a>
                    <button class="btn btn-primary btn-xs" ng-click="includeEditProjeto($index)">Edit</button>
                    <button class="btn btn-danger btn-xs" ng-click="del(projeto.id)">Del</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>