<div id='main-nav-bg'></div>
<nav id='main-nav' ng-include="mainnav">
</nav>
<section id='content'>
  <div class='container'>
    <div class='row' id='content-wrapper'>
      <div class='col-xs-12'>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='page-header'>
              <h1 class='pull-left'>
                <i class='icon-signin'></i>
                <span>Obrigado</span>
              </h1>
              <div class='pull-right'>
                <ul class='breadcrumb'>
                  <li>
                    <a href='index.html'>
                      <i class='icon-bar-chart'></i>
                    </a>
                  </li>
                  <li class='separator'>
                    <i class='icon-angle-right'></i>
                  </li>
                  <li><a href='/dashboard'>Dashboard</a></li>
                  <li class='separator'>
                    <i class='icon-angle-right'></i>
                  </li>
                  <li class='active'>Obrigado</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <div>
              <p>Obrigado por adquirir nosso vídeo exclusivo.</p>
              <p>Conclua o processo seguindo a Desventu no Google Plus acesse agora: <b><a href="https://plus.google.com/b/106973618046088451527/106973618046088451527/posts" target="_blank">https://plus.google.com/b/106973618046088451527/106973618046088451527/posts</a></b></p>
              
            </div>
            <div class="alert alert-info alert-dismissable">
                  <a class="close" data-dismiss="alert" href="ui_elements.html#">×
                </a>
    
                <h4>
                  <i class="icon-info-sign"></i>
                  Atenção
                </h4>
                Após a confirmação do pagamento no pagseguro, se você não seguir a Desventu na Google Plus o vídeo adquirido não será disponibilizado para visualização.
              </div>
          </div>
        </div>
      </div>
    </div>
    <footer id='footer' ng-include="urlfooter"></footer>
  </div>
</section>
