<div class="container" ng-init="">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="http://placehold.it/100x100" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>{{user.firstname}} {{user.lastname}}</p> <small><cite title="Source Title"> {{user.email}}  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
        </div>

        <button ng-click="logoff()" class="btn btn-danger">Sair</button>
    </div>

<br><br>
    <h2>Example 1 - Running with default configuration (requirement: v0.1.1 and above)</h2>
    <br>
    <form ng-upload="upload(content)" method="post" action="/projetos/upload" >
      <p>
        <input type="file" name="file">
      </p>
      <p>
        <input type="submit" class="btn" value="Submit" ng-disabled="$isUploading"><br>
      </p>
    </form>
    <div class="alert alert-info">
      Server Response:
      <div>
        {{uploadResponse}}
      </div>
    </div>
  </div>
<br><br>
	<div ng-include="parte"></div>
</div>